In [14]:
import pandas as pd

df = pd.read_csv('cleaned.csv')

df

,Upvotes,Date,Title,Body Text,Link
0,10,1449121338,Breaking Through the Safeties,Finally heard back from all of my safeties! O...,https://www.reddit.com/r/collegeresults/commen...
1,9,1449874637,Virginia Tech ED Deferred :(,Demographics: In-state Asian male\n\nIntended ...,https://www.reddit.com/r/collegeresults/commen...
2,6,1449888267,Accepted To Middlebury ED,Middlebury ED (only application)\n\nno financi...,https://www.reddit.com/r/collegeresults/commen...
3,6,1449900824,Accepted to Vanderbilt School of Engineering ED,Schools: Vanderbilt University (Accepted ED)\n...,https://www.reddit.com/r/collegeresults/commen...
4,7,1449936672,Accepted into Duke Pratt ED,I was just accepted this past Thursday to my f...,https://www.reddit.com/r/collegeresults/commen...
...,...,...,...,...,...
5598,1,1720456114,This Sub as issues...,Why is it that a black//Latine person will sha...,https://www.reddit.com/r/collegeresults/commen...
5599,1,1720471080,EU student bags ivies and top schools,**Demographics**\n\n* Gender: Male \n* Race/Et...,https://www.reddit.com/r/collegeresults/commen...
5600,1,1720484984,"Great Supplementals, Got into T20s",**Demographics**\n\n* Gender: Female\n* Race/E...,https://www.reddit.com/r/collegeresults/commen...
5601,1,1720485521,"Psych Major, Got into T20s, Great Essays",**Demographics**\n\n* Gender: Female\n* Race/E...,https://www.reddit.com/r/collegeresults/commen...
5602,1,1720488984,Why does no one talk about how women or LGTBT ...,People always seem to mention race but never g...,https://www.reddit.com/r/collegeresults/commen...

In [15]:
df2 = df
df2.drop(['Upvotes', 'Date', 'Title', 'Link'], axis=1, inplace=True)


df2 = df2.tail(10) #only lsat 10 posts

df2.head()

                                              Body Text
5593  **Demographics**\n\n* Gender: Male\n* Race/Eth...
5594  Hey y'all, first time posting just wanted to k...
5595  **Demographics**\n\n* Gender: Male\n* Race/Eth...
5596  I am an Asian from a top bay area high school....
5597  **Demographics**\n\n* Female \n* Chinese :D \n...

In [30]:
import re
import pandas as pd

def extractData(row, pattern):
    text = str(row['Body Text'])
    pattern = re.compile(pattern, re.IGNORECASE)
    match = pattern.search(text)
    
    if match:
        return match.group(1)  # Don't include the search part before it, ONLY the captured GROUP!
    else:
        return -1    

new_df = pd.DataFrame()
new_df['Body Text'] = df2['Body Text']
new_df['Gender'] = df2.apply(lambda row: extractData(row, r"Gender:\s*(.*)"), axis=1)
new_df['Race'] = df2.apply(lambda row: extractData(row, r"Race\/Ethnicity:\s*(.*)"), axis=1)
new_df['Residence'] = df2.apply(lambda row: extractData(row, r"Residence:\s*(.*)"), axis=1)
new_df['Income'] = df2.apply(lambda row: extractData(row, r"Income Bracket:\s*(.*)"), axis=1)
new_df['School Type'] = df2.apply(lambda row: extractData(row, r"Type of School:\s*(.*)"), axis=1)
new_df['Hooks'] = df2.apply(lambda row: extractData(row, r"(?:Hooks \(Recruited Athlete, URM, First-Gen, Geographic, Legacy, etc.\)|Hooks):\s*(.*)"), axis=1)

new_df

,Body Text,Gender,Race,Residence,Income,School Type,Hooks
5593,**Demographics**\n\n* Gender: Male\n* Race/Eth...,Male,Black (Togolese/Nigerian),MA,80K-100K,"non-competitive small private school, no one h...","urm, lgbtq+, fgli"
5594,"Hey y'all, first time posting just wanted to k...",Male,Mexican,WI,< 70K for family of 7 including me,Fairly Competitive Public School in my State (...,"First-gen, low-income"
5595,**Demographics**\n\n* Gender: Male\n* Race/Eth...,Male,East Asian,FL,Upper Class,competitive public,None
5596,I am an Asian from a top bay area high school....,-1,-1,-1,-1,-1,-1
5597,**Demographics**\n\n* Female \n* Chinese :D \n...,-1,-1,-1,-1,-1,-1
5598,Why is it that a black//Latine person will sha...,-1,-1,-1,-1,-1,-1
5599,**Demographics**\n\n* Gender: Male \n* Race/Et...,Male,White,European Union,\~$120k,-1,Strong Math profile + Medalist
5600,**Demographics**\n\n* Gender: Female\n* Race/E...,Female,Black (African American),IL,50k-75k,Private Catholic,N/A
5601,**Demographics**\n\n* Gender: Female\n* Race/E...,Female,Black (African American),IL,50k-75k,Private Catholic,"URM, Took Latin and Ancient Greek"
5602,People always seem to mention race but never g...,-1,-1,-1,-1,-1,-1