In [21]:
import pandas as pd
import numpy as np

df = pd.read_csv('CLEAN.csv')
df.drop(columns=['Link', 'Note'], inplace=True)



def bucket(row):
    text = str(row['Acceptances']).lower()
    ret = 0

    if 'stanford' in text:
        ret +=1
    if 'harvard' in text:
        ret +=1
    if 'mit' in text:
        ret +=1
    if 'caltech' in text:
        ret +=1
    if 'princeton' in text:
        ret +=1
    if 'yale' in text:
        ret +=1

    return ret


df['RES'] = df.apply(bucket, axis=1)
df.drop(columns=['Acceptances', 'Waitlists', 'Rejections'], inplace=True)
df

,Gender,Race,Residence,Income,School Type,Hooks,Major,Rank%,SAT,ACT,EC-AWARDS,ESSAY-LOR-INTERVIEW,RES
0,M,ASIAN,MI,Low,-1,NONE,CS,-1,1440,14,2.0,4.5,0
1,OTHER,ASIAN,IN,High,-1,NONE,CS,25,1390,35,5.5,4.5,1
2,F,ASIAN,OR,High,SMALL,NONE,CS,1,-1,-1,6.5,4.5,0
3,F,ASIAN,MA,High,PUBLIC,NONE,NEUROSCIENCE,-1,1580,-1,7.5,7.5,2
4,M,WHITE,IN,Low,-1,URM,CS,-1,1580,-1,5.5,1.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2242,M,BLACK,MA,Middle,PRIVATE,URM,BIO,2,-1,-1,7.5,8.5,3
2243,M,HISPANIC,WI,Low,PUBLIC,FIRST-GEN,CS,-1,-1,-1,1.0,2.5,0
2244,M,ASIAN,FL,High,PUBLIC,NONE,CS,5,1560,-1,8.5,8.5,0
2245,F,BLACK,IL,Low,PRIVATE,NONE,PSYCH,-1,-1,-1,5.0,4.2,0
2246,F,BLACK,IL,Low,PRIVATE,URM,CS,-1,-1,-1,5.0,4.2,0

In [22]:
df.drop(columns=['Rank%', 'ACT'], inplace=True)
df = df[df['SAT'] != -1]
df

,Gender,Race,Residence,Income,School Type,Hooks,Major,SAT,EC-AWARDS,ESSAY-LOR-INTERVIEW,RES
0,M,ASIAN,MI,Low,-1,NONE,CS,1440,2.0,4.5,0
1,OTHER,ASIAN,IN,High,-1,NONE,CS,1390,5.5,4.5,1
3,F,ASIAN,MA,High,PUBLIC,NONE,NEUROSCIENCE,1580,7.5,7.5,2
4,M,WHITE,IN,Low,-1,URM,CS,1580,5.5,1.5,0
5,F,ASIAN,OR,Middle,PUBLIC,NONE,CS,1580,7.5,4.7,0
...,...,...,...,...,...,...,...,...,...,...,...
2236,M,ASIAN,GA,Middle,PUBLIC,LGBT,BIO,1580,5.0,3.5,0
2237,F,ASIAN,CA,High,PUBLIC,NONE,CS,1590,7.5,3.5,0
2238,M,ASIAN,CA,Middle,PUBLIC,NONE,ENG,1240,3.0,6.5,0
2239,M,ASIAN,CA,Low,PUBLIC,NONE,CS,1580,6.5,7.5,0
2244,M,ASIAN,FL,High,PUBLIC,NONE,CS,1560,8.5,8.5,0

In [31]:
dataset = df.copy()

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset['Gender'] = le.fit_transform(dataset['Gender'])
dataset['Race'] = le.fit_transform(dataset['Race'])
dataset['Residence'] = le.fit_transform(dataset['Residence'])
dataset['Income'] = le.fit_transform(dataset['Income'])
dataset['School Type'] = le.fit_transform(dataset['School Type'])
dataset['Hooks'] = le.fit_transform(dataset['Hooks'])
dataset['Major'] = le.fit_transform(dataset['Major'])

dataset

,Gender,Race,Residence,Income,School Type,Hooks,Major,SAT,EC-AWARDS,ESSAY-LOR-INTERVIEW,RES
0,1,2,17,2,0,3,5,1440,2.0,4.5,0
1,3,2,12,1,0,3,5,1390,5.5,4.5,1
3,0,2,15,1,6,3,18,1580,7.5,7.5,2
4,1,7,12,2,0,4,5,1580,5.5,1.5,0
5,0,2,25,3,6,3,5,1580,7.5,4.7,0
...,...,...,...,...,...,...,...,...,...,...,...
2236,1,2,7,3,6,2,2,1580,5.0,3.5,0
2237,0,2,3,1,6,3,5,1590,7.5,3.5,0
2238,1,2,3,3,6,3,8,1240,3.0,6.5,0
2239,1,2,3,2,6,3,5,1580,6.5,7.5,0
2244,1,2,6,1,6,3,5,1560,8.5,8.5,0

In [33]:
import pandas as pd
from sklearn.preprocessing import StandardScaler


original_index = dataset.index
y = dataset['RES']
X = dataset.drop('RES', axis=1)
scaler = StandardScaler()
data_scaled = scaler.fit_transform(X)
df_scaled = pd.DataFrame(data_scaled, columns=X.columns, index=original_index)
df_scaled['RES'] = y

df_scaled

,Gender,Race,Residence,Income,School Type,Hooks,Major,SAT,EC-AWARDS,ESSAY-LOR-INTERVIEW,RES
0,0.425974,-0.686686,0.384680,0.475829,-1.912536,0.337549,-0.355653,-0.527647,-2.011789,-0.320766,0
1,3.479814,-0.686686,-0.092952,-1.062581,-1.912536,0.337549,-0.355653,-1.057005,-0.197686,-0.320766,1
3,-1.100947,-0.686686,0.193628,-1.062581,0.621197,0.337549,1.882928,0.954558,0.838944,1.055468,2
4,0.425974,1.541216,-0.092952,0.475829,-1.912536,1.232053,-0.355653,0.954558,-0.197686,-1.696999,0
5,-1.100947,-0.686686,1.148892,2.014240,0.621197,0.337549,-0.355653,0.954558,0.838944,-0.229017,0
...,...,...,...,...,...,...,...,...,...,...,...
2236,0.425974,-0.686686,-0.570584,2.014240,0.621197,-0.556956,-0.872248,0.954558,-0.456844,-0.779510,0
2237,-1.100947,-0.686686,-0.952689,-1.062581,0.621197,0.337549,-0.355653,1.060430,0.838944,-0.779510,0
2238,0.425974,-0.686686,-0.952689,2.014240,0.621197,0.337549,0.160943,-2.645082,-1.493474,0.596723,0
2239,0.425974,-0.686686,-0.952689,0.475829,0.621197,0.337549,-0.355653,0.954558,0.320629,1.055468,0
2244,0.425974,-0.686686,-0.666110,-1.062581,0.621197,0.337549,-0.355653,0.742815,1.357259,1.514212,0

In [38]:
import pandas as pd
from sklearn.model_selection import train_test_split


X = df_scaled.drop('RES', axis=1)
y = df_scaled['RES']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)



from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Create and train the model
dt_model = DecisionTreeClassifier(random_state=42)
dt_model.fit(X_train, y_train)

# Make predictions and evaluate
dt_predictions = dt_model.predict(X_test)
dt_accuracy = accuracy_score(y_test, dt_predictions)
print(f"Decision Tree Accuracy: {dt_accuracy}")

Decision Tree Accuracy: 0.6868686868686869

In [39]:
from sklearn.ensemble import RandomForestClassifier

# Create and train the model
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Make predictions and evaluate
rf_predictions = rf_model.predict(X_test)
rf_accuracy = accuracy_score(y_test, rf_predictions)
print(f"Random Forest Accuracy: {rf_accuracy}")

Random Forest Accuracy: 0.7878787878787878

In [41]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report

# Create and train the model
lr_model = LogisticRegression(random_state=42)
lr_model.fit(X_train, y_train)

# Make predictions
lr_predictions = lr_model.predict(X_test)

# Calculate metrics
lr_accuracy = accuracy_score(y_test, lr_predictions)
lr_f1 = f1_score(y_test, lr_predictions, average='weighted')  # 'weighted' for multi-class
lr_precision = precision_score(y_test, lr_predictions, average='weighted')
lr_recall = recall_score(y_test, lr_predictions, average='weighted')

# Print results
print(f"Logistic Regression Accuracy: {lr_accuracy:.4f}")
print(f"Logistic Regression F1 Score: {lr_f1:.4f}")
print(f"Logistic Regression Precision: {lr_precision:.4f}")
print(f"Logistic Regression Recall: {lr_recall:.4f}")

# Print detailed classification report
print("\nDetailed Classification Report:")
print(classification_report(y_test, lr_predictions))

Logistic Regression Accuracy: 0.7946
Logistic Regression F1 Score: 0.7037
Logistic Regression Precision: 0.6314
Logistic Regression Recall: 0.7946

Detailed Classification Report:
              precision    recall  f1-score   support

           0       0.79      1.00      0.89       236
           1       0.00      0.00      0.00        45
           2       0.00      0.00      0.00         6
           3       0.00      0.00      0.00         7
           4       0.00      0.00      0.00         2
           6       0.00      0.00      0.00         1

    accuracy                           0.79       297
   macro avg       0.13      0.17      0.15       297
weighted avg       0.63      0.79      0.70       297

c:\Users\shrey\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\shrey\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\shrey\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\shrey\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))