In [19]:
import pandas as pd
import numpy as np

df = pd.read_csv('CLEAN.csv')
df.drop(columns=['Link', 'Note'], inplace=True)

accepted = df[df['Acceptances'].str.contains('MIT')]
accepted.drop(columns=['Rejections', 'Acceptances', 'Waitlists'], inplace=True)
accepted['Decision'] = 'Accepted'

rejected = df[df['Rejections'].str.contains('MIT')]
rejected.drop(columns=['Rejections', 'Acceptances', 'Waitlists'], inplace=True)
rejected['Decision'] = 'Rejected'

C:\Users\shrey\AppData\Local\Temp\ipykernel_52796\2183697227.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accepted.drop(columns=['Rejections', 'Acceptances', 'Waitlists'], inplace=True)
C:\Users\shrey\AppData\Local\Temp\ipykernel_52796\2183697227.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accepted['Decision'] = 'Accepted'
C:\Users\shrey\AppData\Local\Temp\ipykernel_52796\2183697227.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rejected.drop(columns=['Rejections', 'Acceptances', 'Waitlists'], inplace=True)
C:\Users\shrey\AppData\Local\Temp\ipykernel_52796\2183697227.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rejected['Decision'] = 'Rejected'

In [20]:
accepted

,Gender,Race,Residence,Income,School Type,Hooks,Major,Rank%,SAT,ACT,EC-AWARDS,ESSAY-LOR-INTERVIEW,Decision
7,F,WHITE,NY,Low,PUBLIC,NONE,CS,-1,1550,-1,8.5,8.0,Accepted
9,F,BLACK,TX,Middle,PUBLIC,URM,ENG,3,1520,35,3.0,2.5,Accepted
11,T,ASIAN,CA,Low,PUBLIC,NONE,CS,2,1560,-1,6.5,7.2,Accepted
20,M,WHITE,CA,Low,PUBLIC,NONE,BIO,3,1540,35,7.5,7.3,Accepted
25,F,WHITE,CA,Low,PUBLIC,NONE,CS,1,1490,35,7.5,4.5,Accepted
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2077,M,WHITE,OR,High,PRIVATE,NONE,POLISCI,-1,1490,-1,6.5,6.5,Accepted
2167,F,ASIAN,-1,-1,PUBLIC,NONE,BUSINESS,-1,-1,-1,7.5,6.5,Accepted
2183,NB,ASIAN,CA,Low,PUBLIC,NONE,BIO,1,1550,36,7.5,2.5,Accepted
2215,M,HISPANIC,CA,Low,MAGNET,URM,CS,-1,1520,-1,6.5,3.5,Accepted
2218,F,ASIAN,CA,High,PUBLIC,NONE,CS,-1,1550,35,6.5,4.7,Accepted

In [21]:
rejected

,Gender,Race,Residence,Income,School Type,Hooks,Major,Rank%,SAT,ACT,EC-AWARDS,ESSAY-LOR-INTERVIEW,Decision
62,F,WHITE,IL,High,PUBLIC,NONE,CS,-1,-1,35,8.5,6.2,Rejected
78,M,WHITE,CA,Low,PRIVATE,NONE,CS,-1,-1,-1,6.5,3.5,Rejected
91,F,ASIAN,MI,High,PRIVATE,NONE,ENG,-1,-1,-1,5.5,4.5,Rejected
104,F,ASIAN,CA,High,PRIVATE,NONE,CHEMISTRY,-1,1560,35,6.5,2.5,Rejected
125,M,HISPANIC,IL,-1,PUBLIC,FIRST-GEN,ENG,-1,1390,-1,8.5,2.5,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2230,M,ASIAN,GA,-1,PUBLIC,NONE,CS,-1,1550,-1,8.5,6.5,Rejected
2237,F,ASIAN,CA,High,PUBLIC,NONE,CS,-1,1590,36,7.5,3.5,Rejected
2239,M,ASIAN,CA,Low,PUBLIC,NONE,CS,-1,1580,-1,6.5,7.5,Rejected
2244,M,ASIAN,FL,High,PUBLIC,NONE,CS,5,1560,-1,8.5,8.5,Rejected
2246,F,BLACK,IL,Low,PRIVATE,URM,CS,-1,-1,-1,5.0,4.2,Rejected

In [22]:
dataset = pd.concat([accepted, rejected])
dataset

,Gender,Race,Residence,Income,School Type,Hooks,Major,Rank%,SAT,ACT,EC-AWARDS,ESSAY-LOR-INTERVIEW,Decision
7,F,WHITE,NY,Low,PUBLIC,NONE,CS,-1,1550,-1,8.5,8.0,Accepted
9,F,BLACK,TX,Middle,PUBLIC,URM,ENG,3,1520,35,3.0,2.5,Accepted
11,T,ASIAN,CA,Low,PUBLIC,NONE,CS,2,1560,-1,6.5,7.2,Accepted
20,M,WHITE,CA,Low,PUBLIC,NONE,BIO,3,1540,35,7.5,7.3,Accepted
25,F,WHITE,CA,Low,PUBLIC,NONE,CS,1,1490,35,7.5,4.5,Accepted
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2230,M,ASIAN,GA,-1,PUBLIC,NONE,CS,-1,1550,-1,8.5,6.5,Rejected
2237,F,ASIAN,CA,High,PUBLIC,NONE,CS,-1,1590,36,7.5,3.5,Rejected
2239,M,ASIAN,CA,Low,PUBLIC,NONE,CS,-1,1580,-1,6.5,7.5,Rejected
2244,M,ASIAN,FL,High,PUBLIC,NONE,CS,5,1560,-1,8.5,8.5,Rejected
2246,F,BLACK,IL,Low,PRIVATE,URM,CS,-1,-1,-1,5.0,4.2,Rejected